p:empty::before {
  margin-left: 20px;
  color: grey;
  content: "ข้อความขึ้นตรงนี้";
}
.outPut{
  width: 60%;
  height: 100px;
  border: 2px solid  black;
  margin: 40px 100px;
  overflow: auto;
  float: left;
}
.keyboard {
    margin: 80px 100px;
    position: center;
    width: 850px;
    border: 5px solid blue white;
    float: left;
    padding: 8px;
    position: relative;
}

.key {
    height: 42px;
    float: left;
    padding: 5px;
    font: 20px bold ;
    color: white;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    position: relative;
    box-shadow: 3px -5px 6px #77F75E;
}

.keySp {
    height: 42px;
    float: left;
    padding: 3px;
    font: 20px bold ;
    color: white;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    position: relative;
    box-shadow: 3px -3px 4px #77F75E;
}
.key:hover ,.keySp:hover{
  background: #DA933E;
}
keySp1 {
    height: 15px;
    float: left;
    padding: 3px;
    font: 20px bold ;
    color: white;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.ar {
    margin-left: 10px;
}

.sm {
    width: 44px;
}

.me {
    width: 77px;
}

.la1 {
    width: 87px;
}
.la2 {
    width: 123px;
}

.big {
    width: 133px;
}

.hug {
    width: 330px;
}

.back {
    width: 110px;
}
.keyColor{
  background: black;
}
